---
const { id } = Astro.params;
import DotsButton from "../../components/DotsButton.astro";
import EventAddress from "../../components/EventAddress.astro";
import LikeButton from "../../components/LikeButton.astro";
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { allPlaylists } from "../../lib/data";
import PageFooter from "../../components/PageFooter.astro";

import BannerEvents from "../../components/BannerEvents.astro";
import { playlists, morePlaylists } from "../../lib/data";

export function getStaticPaths() {
  return allPlaylists.map((playlist) => ({
    params: {
      id: playlist.id,
    },
  }));
}

const playlist = allPlaylists.find((playlist) => playlist.id === id);
---

<Layout image={playlist?.cover} title={playlist?.title || "404"}>
  <div
    class="relative bg-zinc-900 min-h-full flex flex-col overflow-x-hidden "
    transition:name=`playlist ${playlist?.id} box`
  >
    <PageHeader />

    <div
      class="flex flex-col items-center md:flex-row md:items-stretch gap-8 px-6"
    >
      <div class="h-52 w-52 flex-none">
        <img
          src={playlist?.cover}
          alt={playlist?.title}
          class="object-cover h-full w-full shadow-[5px_0_30px_0px_rgba(0,0,0,0.3)]"
          transition:name=`playlist ${playlist?.id} image`
        />
      </div>
      <div class="flex flex-col justify-between">
        <div class="flex flex-1 items-end"></div>
        <div class="">
          <h1 class="title-clamp font-bold block">
            {playlist?.title}
            <span transition:name=`playlist ${playlist?.id} title`></span>
          </h1>
          <p>
            {playlist?.description}
          </p>
        </div>
        <div class="flex-1 flex items-end">
          <div class="text-sm">
            <EventAddress artists={playlist?.artists || []} />
            <div class="mt-1">
              <span class="font-semibold"> {playlist?.date}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-zinc-900/30 mt-6 flex-1 p-6 blur-100 ">
      <div class="flex gap-1 items-center">
        <div class="ml-4" >
          <a href="#" class="bg-customYellow text-black py-2 px-6 hover:bg-customYellowHover">Buy Tickets</a>
        </div>
        <LikeButton />
        <DotsButton />
      </div>
      <div class="px-6 pt-4">
        <div class="space-y-6">
          <div>
            <h3 class="text-2xl font-semibold mb-2">Overview:</h3>
            <p class="text-gray-400">
              Experience the ultimate concert event, where music comes alive and memories are made. Join us for an unforgettable evening filled with electrifying performances and soul-stirring melodies. Dive into the rhythm and let the music take you on a journey of pure bliss.
            </p>
          </div>
        
          <div>
            <h3 class="text-2xl font-semibold mb-2">Artists Lineup:</h3>
            <ul class="list-disc list-inside text-gray-400">
              <li>The Echoes</li>
              <li>Rhythm Masters</li>
              <li>Harmony Trio</li>
              <li>Soulful Strings</li>
            </ul>
          </div>
        
          <div>
            <h3 class="text-2xl font-semibold mb-2">Event Highlights:</h3>
            <ul class="list-disc list-inside text-gray-400">
              <li>
                <span class="font-bold">Live Performances:</span> Enjoy captivating live performances from top artists, showcasing a blend of genres that will keep you dancing all night long.
              </li>
              <li>
                <span class="font-bold">Interactive Sessions:</span> Engage with artists in interactive sessions, where you can learn about their music, inspiration, and creative process.
              </li>
              <li>
                <span class="font-bold">Food & Beverages:</span> Savor a variety of delicious food and drink options from our curated selection of vendors, ensuring a delightful culinary experience.
              </li>
              <li>
                <span class="font-bold">Merchandise:</span> Grab exclusive event merchandise, including T-shirts, posters, and memorabilia to remember this extraordinary night.
              </li>
            </ul>
          </div>
        
          <div>
            <h3 class="text-2xl font-semibold mb-2">Additional Information:</h3>
            <ul class="list-disc list-inside text-gray-400">
              <li>
                <span class="font-bold">Parking:</span> Available on-site with easy access to the venue.
              </li>
              <li>
                <span class="font-bold">Accessibility:</span> The event is accessible to all, with special arrangements for individuals with disabilities.
              </li>
              <li>
                <span class="font-bold">Security:</span> Enhanced security measures will be in place to ensure the safety and well-being of all attendees.
              </li>
            </ul>
          </div>
        
          <div>
            <h3 class="text-2xl font-semibold mb-2">Tickets:</h3>
            <ul class="list-disc list-inside text-gray-400">
              <li>General Admission: $50</li>
              <li>VIP Pass: $100 (Includes backstage access and meet-and-greet with artists)</li>
              <li>Early Bird Discounts available until April 30, 2023</li>
            </ul>
          </div>
        
          <div>
            <h3 class="text-2xl font-semibold mb-2">Contact:</h3>
            <p class="text-gray-400">
              For more information, visit our website or contact us at <a href="mailto:info@example.com" class="text-blue-500">info@example.com</a>.
            </p>
            <p class="text-gray-400">
              Join us at Vibe Wave for an evening of unforgettable music, vibrant energy, and lasting memories. Get your tickets now and be part of an extraordinary musical journey!
            </p>
          </div>
        </div>
        
        
      </div>
    </div>

    <div
      class="absolute h-screen inset-0 z-[-1] bg-gradient-to-b "
      style=`--context-color:${playlist?.color.accent}`
    >
    
      <div
        class="absolute inset-0 bg-gradient-to-t via-transparent from-zinc-900"
      >
      </div>
    </div>

    <!-- Thumbnails -->
    <!-- <div class="px-6 relative z-10 mt-12 max-w-7xl mx-auto">
      <h2 class="text-4xl font-bold ">OTHER EVENTS</h2>
      <div class="flex flex-wrap mt-6 gap-4">
        {morePlaylists.map((playlist) => <BannerEvents playlist={playlist} />)}
      </div>
    </div> -->

    <PageFooter />

  </div>
</Layout>

<style>
  .title-clamp {
    font-size: clamp(20px, 6vw, 70px);
    line-height: 1;
  }
</style>
